.input {
  display: flex;
  margin: 1em 1em 1em 0em;
}

input {
  margin-right: 1em;
  border-style: ridge;
  border-radius: 0.5em;
}

textarea {
  border-style: ridge;
  border-radius: 0.5em;
}

button {
  margin-top: 1em;
  margin-right: 1em;
  padding: 1em;
  border-radius: 35px;
  display: flex;
}

button:hover {
  cursor: pointer;
}
