<h2>Lista note:</h2>

<!-- =======  Tabella che mostra valori note + bottone elimina nota singola ======= -->
<table mat-table [dataSource]="noteList" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order. The actual rendered columns are set as a property on the row definition" -->

    <!-- ID Column -->
    <!-- matColumnDef : nome colonna dichiarata nel .html -->
    <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> ID </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>
    <!-- Testo Column -->
    <ng-container matColumnDef="testo">
        <th mat-header-cell *matHeaderCellDef> Testo </th>
        <td mat-cell *matCellDef="let element"> {{element.testo}} </td>
    </ng-container>
    <!-- Titolo Column -->
    <ng-container matColumnDef="titolo">
        <th mat-header-cell *matHeaderCellDef> Titolo </th>
        <td mat-cell *matCellDef="let element"> {{element.titolo}} </td>
    </ng-container>
    <!-- UserCreator Column -->
    <ng-container matColumnDef="userCreator">
        <th mat-header-cell *matHeaderCellDef> User </th>
        <td mat-cell *matCellDef="let element"> {{element.userCreator}} </td>
    </ng-container>
    <!-- Timestamp Column -->
    <ng-container matColumnDef="timestamp">
        <th mat-header-cell *matHeaderCellDef> Timestamp </th>
        <td mat-cell *matCellDef="let element"> {{element.timestamp}} </td>
    </ng-container>
    <!-- Delete note button Column -->
    <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef> Delete </th>
        <td mat-cell *matCellDef="let element"> <button mat-stroked-button color="primary"
                (click)="removeNote(element.id)" class="btn-block">Delete</button> </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="headElements"></tr>
    <tr mat-row *matRowDef="let row; columns: headElements;"></tr>
</table>

<!-- BOTTONI: ELIMINA TUTTE LE NOTE / AGGIUNGI NOTA-->
<div class="login-wrapper" fxLayout="column" fxLayoutAlign="center center">
    <button mat-raised-button color="primary" class="btn-block" (click)="removeNotes()">Elimina note</button>
    <button mat-raised-button color="primary" class="btn-block" (click)="openAddNoteModal()">Aggiungi nota</button>
</div>